flask==3.0.0
PyYAML==6.0.1
psycopg2==2.9.9
pydantic==2.5.2
SQLAlchemy==2.0.23
werkzeug==3.0.1
minio==7.2.0
Pillow==10.1.0
cachetools==5.3.2
requests==2.31.0
flask_jwt_extended==4.6.0
flask-sqlalchemy==3.1.1

# linux
uwsgi-2.0.23